.nav{
    text-align: center;
    margin: 10%;
}

.header {
    text-align: center;
    margin: 20%;
}


.WW{
    text-align: center;
}


.footer{
    text-align: center;
}

.containerAllWiki{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


#eachWikiMainImg{
    width: 80%;

}

.head{
    text-align: center;
    font-weight: bold;
}