{% extends 'WikiApp/base.html' %}

<!-- prints my specific wiki with the titile, text, createdate and updatedate -->
{% block content %}
{{ wiki.title }} <br>
{{ wiki.text }} <br>
{{ wiki.createdDate }} <br>
{{ wiki.updatedDated }}<br>
<img src="{{ wiki.image.url }}" alt="wiki image"><br>
<a href="{% url 'WikiApp:editWiki' wiki.pk %}">Edit Wiki</a><br>
<a href="{% url 'WikiApp:deleteWiki' wiki.pk %}">DELETE Wiki</a><br>

<a href="{% url 'WikiApp:addRI' wiki.pk %}">Create Related Item</a><br>

<!-- prints for each Ri\I the title , text and image -->
{% for eachRI in RIS %}
{{ eachRI.title }} <br>
{{ eachRI.text }}<br>
<img src="{{ eachRI.image.url }}" alt="wiki image"><br>
<a href="{% url 'WikiApp:editRI' wiki.pk eachRI.pk %}">EDIT RELATED ITEM</a><br>
<a href="{% url 'WikiApp:deleteRI' wiki.pk eachRI.pk %}">DELETE RELATED ITEM</a><br>
{% endfor %}


{% endblock content %}